.rrssContainer {
  display: flex;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;

  .rrssBox {
    padding: 3%;
    min-width: 50px;
    min-height: 40px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0px -1px 5px rgba(255, 255, 255, 0.2);
    transition: 150ms ease-in;

    @include for-pc-large {
      min-width: 60px;
      min-height: 50px;
    }

    &:hover {
      border-bottom: 2px solid $colorDefault;
      box-shadow: inset 0px -1px 5px $colorDefault;

      i {
        text-shadow: 0px 2px 2px $colorBg, 0px -2px 5px $colorHighlight,
          0px 1px 10px $colorHighlight, 0px 2px 4px $colorDefault,
          0px 1px 5px $colorDefault;
      }
    }

    i {
      color: $colorClear;
      text-shadow: 0px 2px 2px $colorBg, 0px -2px 2px $colorBg,
        0px 1px 5px $colorHighlight, 0px -1px 5px $colorHighlight;
      font-size: 1.2rem;

      @include for-pc-large {
        font-size: 1.8rem;
      }
    }
  }
}
