@import "./base/reset.scss";
@import "./base/structure.scss";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/header";
@import "./layouts/langToggle";
@import "./layouts/themeToggle";
@import "./layouts/home";
@import "./layouts/info";
@import "./layouts/navBar";
@import "./layouts/panels";
@import "./layouts/panels2";
@import "./layouts/projects";
@import "./layouts/experience";
@import "./layouts/aboutMe";
@import "./layouts/modal";
@import "./components/rrss.scss";

.wrapper {
  background-color: $colorBg;
  display: grid;
  grid-template-rows: 10vh 1fr;

  @include for-tablet-landscape {
    grid-template-rows: 10vh 90vh;
  }

  @include for-pc-landscape {
    grid-template-rows: 7vh 93vh;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1162.png), progress;
  }
}
