@mixin h1 {
  margin: 0;
  align-self: end;
  font-family: $fontTitle;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $colorClear;
  text-shadow: -2px -2px 15px $colorHighlight, 2px 2px 15px $colorDefault;
}

@mixin h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: $fontTitle;
  font-size: 1.5rem;
  color: $colorClear;
}

@mixin more {
  font-family: $fontText;
  font-weight: 300;
  font-size: 1rem;
  color: $colorClear;
}

@mixin navGlow {
  text-shadow: 1px 1px 6px $colorHighlight, -1px -1px 6px $colorClear;
}
