@mixin for-tablet-portrait {
  @media all and (min-width: $tablet-p) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media all and (min-width: $tablet-l) {
    @content;
  }
}

@mixin for-pc-portrait {
  @media all and (min-width: $pc-p) {
    @content;
  }
}

@mixin for-pc-landscape {
  @media all and (min-width: $pc-l) {
    @content;
  }
}

@mixin for-pc-large {
  @media all and (min-width: $pc-xl) {
    @content;
  }
}

@mixin h1-sm {
  margin: 0;
  align-self: end;
  font-family: $fontTitle;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $colorClear;
  text-shadow: -2px -2px 15px $colorHighlight, 2px 2px 15px $colorDefault,
    -1px -1px 6px $colorHighlight, 1px 1px 6px $colorDefault,
    1px -1px 1px $colorBg, -1px 1px 1px $colorBg;
}

@mixin h1-ml {
  @include for-tablet-landscape {
    margin: 0;
    align-self: end;
    font-family: $fontTitle;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: $colorClear;
    text-shadow: -2px -2px 15px $colorHighlight, 2px 2px 15px $colorDefault,
      -1px -1px 6px $colorHighlight, 1px 1px 6px $colorDefault,
      1px -1px 1px $colorBg, -1px 1px 1px $colorBg;
  }
}

@mixin h3-sm {
  text-transform: uppercase;
  font-weight: 300;
  font-family: $fontTitle;
  font-size: 1rem;
  letter-spacing: 1px;
  color: $colorClear;
}

@mixin h3-ml {
  @include for-tablet-landscape {
    text-transform: uppercase;
    font-weight: 300;
    font-family: $fontTitle;
    font-size: 1.3rem;
    color: $colorClear;
  }
}

@mixin h3-xl {
  @include for-pc-large {
    text-transform: uppercase;
    font-weight: 300;
    font-family: $fontTitle;
    font-size: 1.6rem;
    color: $colorClear;
  }
}

@mixin h3-nav-bar {
  font-size: 0.9rem;
  font-family: $fontText;
  text-transform: uppercase;
  color: $colorClear;
}

@mixin h3-nav-bar-xl {
  @include for-pc-large {
    font-size: 1.3rem;
    font-family: $fontText;
    text-transform: uppercase;
    color: $colorClear;
  }
}

@mixin h4-sm {
  @include for-tablet-portrait {
    font-size: 1.2rem;
  }
}

@mixin h4-ml {
  @include for-pc-landscape {
    font-size: 1.2rem;
  }
}

@mixin h4-xl {
  @include for-pc-large() {
    font-size: 1.7rem;
  }
}

@mixin more {
  font-family: $fontText;
  font-weight: lighter;
  font-size: 0.9rem;
  color: $colorClear;
  font-style: italic;
}

@mixin more-xl {
  @include for-pc-large {
    font-size: 1.2rem;
  }
}

@mixin titleShadow {
  text-shadow: 0 0 30px #1e6edf, 0 0 10px rgba(230, 161, 173, 0.41),
    0 0 100px $colorDefault, 0 0 500px $colora, 5px 9px 5px rgba(0, 0, 0, 0.5),
    7px 11px 6px rgba(0, 0, 0, 0.5);
}

@mixin navGlow {
  text-shadow: 1px 1px 6px $colorHighlight, -1px -1px 6px $colorClear;
}

@mixin iconGlow {
  text-shadow: -1px -1px 6px $colorClear;
}

@mixin buttonGlow {
  text-shadow: 1px 1px 5px $colorDefault;
}
