$fontTitle: "Contrail One", cursive;
$fontText: "Didact Gothic", sans-serif;

// $colorDark: #111937;
// $colorHighlight: #e51c95;
// $colorDefault: #14adc8;
$colorClear: white;
$colorBg: #111937;
$colorDark: #1c0369;
$colorHighlight: #e061e9;
$colorHighlight2: #ff77dd;
$colorHighlight3: #9390ef;
$colorDefault: #6accec;
$colorDefault2: #7dd9f2;

// $colorDark: #120c28;
// $colorHighlight: #5633b5;
// $colorDefault: #6ebbe2;

$colora: #0054cb;
$colorpinki: #fa26a0;
