// $fontTitle: "Cinzel", serif;
// $fontText: "Prompt", sans-serif;

$fontTitle: "Saira", sans-serif;
$fontText: "Saira", sans-serif;

// $colorDark: #111937;
// $colorHighlight: #e51c95;
// $colorDefault: #14adc8;
$colorClear: white;
$colorDark: #120c28;
$colorHighlight: #5633b5;
$colorDefault: #6ebbe2;
