.aboutMeContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15% 1fr;
  place-items: center;

  @include for-pc-large {
    grid-template-rows: 10% 1fr;
  }

  .aboutMeTitle {
    grid-row: 1;
    grid-column: 1/-1;
    @include h1;
  }

  .aboutMeBorder {
    border: 2px solid $colorDefault;
    border-radius: 10px;
    grid-column: 1/-1;
    width: 60%;
    height: 70%;
    box-shadow: inset 15px 13px 24px #0a0127ab, inset -15px -13px 24px #0a0127ab;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;

    .aboutMeImg {
      grid-column: 1;
      position: relative;
      // background-image: linear-gradient(120deg, transparent 60%, $colorDark);
      height: 99%;
      width: 100%;

      .crystals {
        // position: fixed;
        // top: 0;
        // left: 30vw;
        // z-index: 1;

        .crystal_01 {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_01.png)
            repeat-y;
          -webkit-animation: bg-crystal001 30s infinite;
          -moz-animation: bg-crystal001 30s infinite;
          -o-animation: bg-crystal001 30s infinite;
          animation: bg-crystal001 30s infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-timing-function: linear;
          -o-animation-timing-function: linear;
          animation-timing-function: linear;

          @include for-pc-large {
            left: 10%;
          }
        }

        .crystal_02 {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_02.png)
            repeat-y;
          -webkit-animation: bg-crystal002 60s infinite;
          -moz-animation: bg-crystal002 60s infinite;
          -o-animation: bg-crystal002 60s infinite;
          animation: bg-crystal002 60s infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-timing-function: linear;
          -o-animation-timing-function: linear;
          animation-timing-function: linear;

          @include for-pc-large {
            left: 10%;
          }
        }

        .crystal_03 {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 5%;
          // margin-left: -180px;
          background: url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_03.png)
            repeat-y;
          -webkit-animation: bg-crystal003 90s infinite;
          -moz-animation: bg-crystal003 90s infinite;
          -o-animation: bg-crystal003 90s infinite;
          animation: bg-crystal003 90s infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-timing-function: linear;
          -o-animation-timing-function: linear;
          animation-timing-function: linear;
        }
        @include for-pc-large {
          left: 15%;
        }
      }
    }
    .aboutMeTextContainer {
      background-image: linear-gradient(100deg, transparent, #0a0127ab);
      grid-column: 2;
      color: $colorClear;
      display: grid;
      grid-template-rows: 15% 1fr 15%;
      line-height: 1.4;
      letter-spacing: 1px;
      padding: 5%;

      h5 {
        text-align: center;
        grid-row: 1;
        font-family: $fontTitle;
        font-size: 1.3rem;
        letter-spacing: 5px;
        align-self: end;
        padding-bottom: 4%;
        text-shadow: 2px 2px 1px $colorDark, 3px 3px 2px $colorHighlight2;

        @include for-pc-large {
          font-size: 2rem;
        }
      }

      .txt {
        padding: 5%;
        p {
          font-family: $fontText;
          font-size: 0.8rem;
          color: rgba(255, 255, 255, 0.8);
          text-shadow: 2px 2px 2px $colorBg, 1px 1px 2px $colorHighlight,
            1px 2px 5px $colorDefault;

          @include for-pc-landscape {
            font-size: 0.8rem;
          }
          @include for-pc-large {
            font-size: 1.3rem;
            letter-spacing: 1px;
            line-height: 1.6;
          }

          &.active {
            display: block;
          }

          &.inactive {
            display: none;
          }
        }
      }
    }
  }
}

//Animations
@-webkit-keyframes bg-crystal001 {
  100% {
    background-position: 0px -900px;
  }
}
@-moz-keyframes bg-crystal001 {
  100% {
    background-position: 0px -900px;
  }
}
@-o-keyframes bg-crystal001 {
  100% {
    background-position: 0px -900px;
  }
}
@keyframes bg-crystal001 {
  100% {
    background-position: 0px -900px;
  }
}

@-webkit-keyframes bg-crystal002 {
  100% {
    background-position: 0px -900px;
  }
}
@-moz-keyframes bg-crystal002 {
  100% {
    background-position: 0px -900px;
  }
}
@-o-keyframes bg-crystal002 {
  100% {
    background-position: 0px -900px;
  }
}
@keyframes bg-crystal002 {
  100% {
    background-position: 0px -900px;
  }
}

@-webkit-keyframes bg-crystal003 {
  100% {
    background-position: 0px -1200px;
  }
}
@-moz-keyframes bg-crystal003 {
  100% {
    background-position: 0px -1200px;
  }
}
@-o-keyframes bg-crystal003 {
  100% {
    background-position: 0px -1200px;
  }
}
@keyframes bg-crystal003 {
  100% {
    background-position: 0px -1200px;
  }
}
