.experienceContainer {
  width: 100%;
  height: 100%;
  padding: 2%;
  padding-left: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15% repeat(2, 1fr);
  place-items: center;

  @include for-pc-large {
    grid-template-rows: 10% repeat(2, 1fr);
  }

  .experienceTitle {
    grid-row: 1;
    grid-column: 1/-1;
    @include h1;
  }
}
