header {
  background-image: linear-gradient(transparent, #0a0718b0);
  width: 100%;
  height: 100%;
  padding: 2vh;
  padding-bottom: 0;
  grid-row: 1;
  display: grid;
  grid-template-columns: 5% 88% 7%;
  z-index: 2;

  .navBarHeader {
    height: 100%;
    width: 100%;
    grid-column: 2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    li {
      height: 100%;
      text-align: center;
      align-self: center;
      cursor: pointer;
      position: relative;
      border: none;
      padding-top: 5%;
      overflow: hidden;

      .link {
        color: rgba(240, 240, 240, 0.9);
        font-size: 1.5rem;
        font-family: $fontTitle;
        text-transform: uppercase;
        padding: 5% 40%;
        text-decoration: none;

        &:after,
        &:active {
          background: $colorDefault;
          filter: blur(0.5px);
        }

        &:hover {
          font-size: 1.8rem;
          &::after {
            transform: translateX(100%);
            transition: transform 0.2s ease-in;
          }
        }

        &:active {
          background: none;
          box-shadow: none;
          border-top: 1px solid $colorDefault;
          text-shadow: 1px 1px 10px $colorHighlight,
            -1px -1px 10px $colorHighlight;
        }

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          left: -100%;
          display: block;
          bottom: 0;
          transition: all 0.1s ease-in;
        }

        &__selected {
          color: rgba(255, 255, 255, 0.9);
          font-size: 1.8rem;
          font-family: $fontTitle;
          text-transform: uppercase;
          padding: 5% 40%;
          text-shadow: 1px 1px 10px $colorHighlight,
            -1px -1px 10px $colorHighlight;
          background-image: linear-gradient(
            90deg,
            transparent,
            $colorDefault,
            transparent
          );
          border: 1px solid $colorDefault;
        }
      }
    }
  }
}
