.infoContainer {
  height: 85vh;
  width: 100%;
  padding: 0 2vw;
  scroll-snap-type: y proximity;
  overflow-y: scroll;

  section {
    scroll-snap-align: start;
  }
}

$animation-slide-distance: 100px;

@keyframes slideDown {
  0% {
    transform: translateY(-$animation-slide-distance);
  }
  100% {
    transform: translateY(0);
  }
}
