.infoContainer {
  grid-row: 2;
  height: 90vh;
  width: 100%;
  padding: none;
  scroll-snap-type: y proximity;
  overflow-y: scroll;

  @include for-tablet-landscape {
    padding: 1vh 0 0 5vw;
  }

  section {
    scroll-snap-align: start;
  }
}

$animation-slide-distance: 150px;

@keyframes slideDown {
  0% {
    transform: translateY(-$animation-slide-distance);
  }
  100% {
    transform: translateY(0);
  }
}
