.widget {
  grid-column: 3;
  place-self: center;

  @include for-pc-landscape {
    place-self: none;
  }

  .langToggle {
    position: relative;
    display: inline-block;

    .circle {
      display: block;
      background-color: #373737;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#373737),
        to($colorBg)
      );
      background-image: linear-gradient(to top, #373c4e, $colorBg);
      border: 0;
      border-radius: 40%;
      box-shadow: 0px 3px 8px #222, inset 0px 2px 3px #2e4c6b;
      color: #a7a7a7;
      font-family: $fontText;
      width: 35px;
      height: 25px;
      outline: none;
      text-align: center;
      -webkit-transition: box-shadow 500ms ease-in-out;
      transition: box-shadow 500ms ease-in-out;
      -webkit-animation: pulsate 3s infinite ease-in-out;
      animation: pulsate 3s infinite ease-in-out;

      @include for-pc-landscape {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      @include for-pc-large {
        width: 50px;
        height: 50px;
      }

      .click {
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from($colorBg),
          to(#373737)
        );
        background-image: linear-gradient(to top, $colorBg, #373737);
        box-shadow: 0px 3px 8px $colorDefault, inset 0px 2px 3px $colorDefault;
      }
      &:before {
        border-top: 2px solid $colorDefault;
      }
    }

    .circle:before {
      content: "";
      display: block;
      background: $colorBg;
      border-top: 2px solid $colorDark;
      position: absolute;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
      z-index: -1;
      border-radius: 30%;
      box-shadow: inset 0px 8px 48px #222;

      @include for-pc-landscape {
        border-radius: 50%;
      }
    }

    .circle span {
      color: rgba(248, 248, 248, 0.8);
      font-size: 1rem;
      text-shadow: 0px 3px 4px $colorBg, inset 0px 2px 3px $colorDefault;

      @include for-pc-landscape {
        font-size: 0.6rem;
      }

      @include for-pc-large {
        font-size: 1.2rem;
      }
    }

    .button {
      display: block;
      background-color: #373737;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#373737),
        to($colorBg)
      );
      background-image: linear-gradient(to top, #373737, $colorBg);
      border-radius: 50%;
      color: #a7a7a7;
      font-size: 12px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      width: 20px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
      -webkit-transition: top 600ms ease-in-out, left 600ms ease-in-out,
        box-shadow 600ms ease-in-out;
      transition: top 600ms ease-in-out, left 600ms ease-in-out,
        box-shadow 600ms ease-in-out;
    }

    .circle:hover {
      color: $colorDark;
      background-color: $colorDefault;
      border: 1px solid $colorDefault;
    }
  }
  @-webkit-keyframes pulsate {
    0% {
      box-shadow: 0px 0px 9px $colorBg;
    }
    50% {
      box-shadow: 0px 0px 11px $colorDefault;
    }
    100% {
      box-shadow: 0px 0px 9px $colorBg;
    }
  }
  @keyframes pulsate {
    0% {
      box-shadow: 0px 0px 9px $colorBg;
    }
    50% {
      box-shadow: 0px 0px 11px $colorDefault;
    }
    100% {
      box-shadow: 0px 0px 9px $colorBg;
    }
  }
}
