.modalContainer {
  &.active {
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10%;

    .modalBorder {
      border: 2px solid rgba(106, 203, 236, 0.5);
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/grid.svg);
      background-size: 7px;
      border-radius: 2px;
      padding: 0.5%;
      position: absolute;
      width: 65%;
      height: 55%;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -webkit-transition: all 300ms ease-in-out;
      animation-name: showcase;
      -webkit-animation-name: showcase;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      .modalInfo {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          -135deg,
          transparent 55px,
          rgba(41, 69, 95, 0.7) 0
        );
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 1fr;
        z-index: 12;

        .modalImg {
          grid-row: 1/-1;
          grid-column: 1;
        }

        .modalText {
          // background-image: linear-gradient(
          //   transparent,
          //   transparent,
          //   $colorDefault,
          //   $colorHighlight2,
          //   transparent
          // );
          grid-row: 1/-1;
          grid-column: 2;
          display: grid;
          grid-template-rows: 15% 1fr;
          padding: 10% 15%;
          color: $colorClear;
          font-family: $fontText;

          h4 {
            @include h4;
            grid-row: 1;
          }

          p {
            font-weight: lighter;
            grid-row: 2;
          }
        }
      }
    }
  }
  // &.disabled {
  //   display: none;
  // }
  .closeModal {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: start;
    padding: 0 3%;
    z-index: 13;
    transition: 150ms ease-in;

    &:hover {
      transform: scale(1.3);
    }

    .fas {
      color: mix(#fff, #fa26a0, 80%);
      text-shadow: 0 0 0.025em #fff, 0 0 0.05em #fff, 0 0 0.1em #fa26a0,
        0 0 0.2em #fa26a0, 0 0 0.25em #fa26a0, 0 0 0.75em #fa26a0,
        0 0 1.25em #fa26a0, 0 0 1.75em rgba(#fa26a0, 0.5);
    }
  }
}

@-webkit-keyframes showcase {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 65%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 65%;
    height: 55%;
    overflow: auto;
  }
}
@keyframes showcase {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 65%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 65%;
    height: 55%;
    overflow: auto;
  }
}
