.modalContainer {
  &.active {
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5%;

    @include for-tablet-landscape {
      padding: 10%;
    }

    .modalBorder {
      border: 2px solid rgba(106, 203, 236, 0.5);
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/grid.svg");
      background-size: 7px;
      border-radius: 2px;
      padding: 0.5%;
      position: absolute;
      width: 70%;
      height: 65%;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -webkit-transform: translate(-50%, -50%);
      animation-name: showcase1;
      -webkit-animation-name: showcase1;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      @include for-pc-large {
        width: 57%;
        height: 55%;
        animation-name: showcase;
        -webkit-animation-name: showcase;
      }

      .modalBox {
        overflow: scroll;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          -135deg,
          transparent 55px,
          rgba(41, 69, 95, 0.7) 0
        );
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        z-index: 12;

        @include for-tablet-landscape {
          overflow: hidden;
          grid-template-columns: 60% 40%;
          grid-template-rows: 10% 1fr;
        }

        .hoverAlert {
          display: none;

          @include for-tablet-landscape {
            position: absolute;
            width: 7%;
            height: 7%;
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            place-items: center;
            box-shadow: 1px 1px 3px $colorBg;
            border: 1px solid rgba(255, 255, 255, 0.2);
            transform: translate(5px, 5px);
          }

          span {
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
            color: $colorClear;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px $colorDark, 2px 2px 5px $colorHighlight2;

            @include for-pc-large {
              font-size: 1.2rem;
            }
          }
        }

        video {
          display: none;

          @include for-pc-large {
            grid-row: 1/-1;
            grid-column: 1;
            width: 100%;
            height: auto;
          }
        }

        .modalContent {
          display: grid;
          grid-template-rows: 10% 1fr;
          padding: 10% 7%;
          color: $colorClear;
          font-family: $fontText;

          @include for-tablet-landscape {
            grid-row: 1/-1;
            grid-column: 2;
            padding: 10% 15%;
          }

          h4 {
            font-weight: bolder;
            font-size: 0.9rem;
            text-transform: uppercase;
            grid-row: 1;
            font-family: $fontTitle;
            text-shadow: 2px 2px 1px $colorDark, 3px 3px 2px $colorHighlight2;
            @include h4-sm;
            @include h4-ml;
            @include h4-xl;
          }

          .modalText {
            font-weight: lighter;
            grid-row: 2;
            display: flex;
            flex-direction: column;

            p {
              font-size: 0.9rem;
              color: $colorText;
              letter-spacing: 1px;
              @include for-pc-large {
                font-size: 1.2rem;
              }
            }

            .q-active {
              margin-top: 5%;
              display: block;
              text-transform: uppercase;
              color: $colorDefault;
              text-shadow: 1px 1px 1px $colorDark, 2px 2px 1px $colorHighlight;

              @include for-pc-large {
                text-shadow: 1px 1px 1px $colorDark, 2px 2px 2px $colorHighlight;
              }
            }
            .inactive {
              display: none;
            }

            .modalTechs {
              margin-bottom: 10%;
              width: 100%;
              height: auto;
              display: flex;
              justify-content: space-evenly;

              i {
                font-size: 1.2rem;
                color: $colorDefault;
                text-shadow: 2px 2px 1px $colorDark, 3px 3px 1px $colorHighlight;
                @include for-pc-large {
                  font-size: 1.5rem;
                }
              }
            }

            .modalLink {
              place-self: center;
              width: 40%;
              height: auto;
              border: 1px solid $colorDefault;
              box-shadow: inset -1px 1px 2px $colorBg,
                inset 1px -1px 2px $colorBg;
              display: flex;
              align-items: center;
              place-content: center;
              transition: all 200ms ease-in;
              letter-spacing: 2px;

              @include for-pc-large {
                height: 7%;
                width: 50%;
              }

              &:hover {
                box-shadow: -6px 6px 5px $colorBg, -6px 6px 2px $colorDefault;
                transform: translate(2%, -3%);
                @include navGlow;
                cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1162.png),
                  progress;
              }

              a {
                text-align: center;
                display: block;
                color: $colorText;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.8rem;
                width: 100%;
                height: auto;
                padding: 5%;
                cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1162.png),
                  progress;
                // cursor: pointer;

                @include for-pc-large {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .closeModal {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: start;
    padding: 0 3%;
    // cursor: pointer;
    z-index: 13;
    transition: 150ms ease-in;

    &:hover {
      transform: scale(1.4);
      cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1162.png),
        progress;
    }

    .fas {
      color: mix(#fff, #fa26a0, 80%);
      text-shadow: 0 0 0.025em #fff, 0 0 0.05em #fff, 0 0 0.1em #fa26a0,
        0 0 0.2em #fa26a0, 0 0 0.25em #fa26a0, 0 0 0.75em #fa26a0,
        0 0 1.25em #fa26a0, 0 0 1.75em rgba(#fa26a0, 0.5);
    }
  }
  &.disabled {
    display: none;
  }
}

@-webkit-keyframes showcase1 {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 70%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 70%;
    height: 55%;
    overflow: auto;
  }
}
@keyframes showcase1 {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 70%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 70%;
    height: 55%;
    overflow: auto;
  }
}

@-webkit-keyframes showcase {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 57%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 57%;
    height: 55%;
    overflow: auto;
  }
}
@keyframes showcase {
  0% {
    width: 1%;
    height: 0%;
    overflow: hidden;
  }
  50% {
    width: 57%;
    height: 0.5%;
    overflow: hidden;
  }
  100% {
    width: 57%;
    height: 55%;
    overflow: auto;
  }
}
