.navBarSection {
  width: 10vw;
  top: 50%;
  font-family: $fontText;
  letter-spacing: 1px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translatex(-10%) perspective(300) rotateY(20deg);
  -webkit-transform: translatex(-10%) perspective(300) rotateY(20deg);
  background-color: #002963a2;
  box-shadow: -5px 9px 5px rgba(0, 0, 0, 0.3), -7px 11px 6px rgba(0, 0, 0, 0.3);
  list-style: none;

  @include for-pc-large {
    top: 45%;
  }

  ul li {
    list-style: none;
    color: rgb(184, 184, 184);
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: ease-in 100ms;

    .scrollTo {
      padding: 10% 1% 10% 5%;

      @include for-pc-large {
        padding: 10% 5%;
      }
      .link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        transform: perspective(300) rotateY(20deg);
        -webkit-transform: perspective(300) rotateY(20deg);

        @include for-pc-large {
          justify-content: space-evenly;
        }

        .navBarTitle {
          align-self: center;
          margin: 0;
          @include h3-nav-bar;
          @include h3-nav-bar-xl;
        }
        .fas.fa-chevron-right.edit {
          font-size: 5px;
          color: $colorDefault;
          justify-self: center;

          @include for-pc-large {
            margin-left: 20px;
            font-size: 7px;
          }
        }
        &:hover,
        &:active {
          @include iconGlow;
        }
      }
    }

    &.selected {
      background-image: linear-gradient(
        150deg,
        $colorHighlight,
        transparent,
        $colorDefault
      );
      border-top: 1px solid $colorDefault;
      border-bottom: 1px solid $colorDefault;
      color: $colorClear;
      width: 100%;
      letter-spacing: 3px;
      @include navGlow;
      @include for-pc-large {
        letter-spacing: 2px;
      }
    }
  }
}
