.navBarSection {
  font-family: $fontText;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  ul li {
    background-color: rgba(0, 0, 0, 0.58);
    color: rgb(184, 184, 184);
    text-transform: uppercase;
    list-style: none;
    border: 1px;
    position: relative;
    padding: 10%;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: ease-in 100ms;

    &:hover,
    &:active {
      color: $colorClear;
      width: 110%;
      transform: translatex(5%);
      border-top: 1px solid #2edbff;
      border-bottom: 1px solid #2edbff;
    }

    label {
      font-size: 1.2rem;
    }

    input {
      display: none;
    }

    .chevron {
      &.enabled {
        width: 15%;
        height: auto;
        background: url("../../imgs/chevron.svg") no-repeat;
        background-size: contain;
      }
      &.disabled {
        display: none;
      }
    }
  }
}
