.navBarSection {
  // background-image: linear-gradient(transparent, #070b18, transparent);
  // height: 40%;
  border: 1px solid yellow;
  width: 10vw;
  top: 40%;
  padding: 20px;
  font-family: $fontText;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-transform: translatex(-10%) perspective(500) rotateY(20deg);

  ul li {
    color: rgb(184, 184, 184);
    text-transform: uppercase;
    list-style: none;
    border: 1px;
    position: relative;
    padding: 10%;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: ease-in 100ms;

    &:hover,
    &:active {
      background-image: linear-gradient(
        150deg,
        $colorHighlight,
        transparent,
        $colorDefault
      );
      border-top: 1px solid #2edbff;
      border-bottom: 1px solid #2edbff;
      color: $colorClear;
      width: 110%;
      @include navGlow;
    }

    label {
      font-size: 1.2rem;
    }

    input {
      display: none;
    }

    .chevron {
      &.enabled {
        width: 15%;
        height: auto;
        background: url("../../imgs/chevron.svg") no-repeat;
        background-size: contain;
      }
      &.disabled {
        display: none;
      }
    }
  }
}
