.panelContainer {
  background-image: linear-gradient(transparent, transparent, $colorDark);
  border: 1px solid $colorDefault;
  height: 75%;
  width: 85%;
  display: grid;
  grid-template-rows: 60% 40%;

  .imgContainer {
    padding: 3%;
    .panelImg {
      width: 100%;
    }
  }

  .projectTitle {
    display: flex;
    flex-direction: column;
    place-content: center;

    h3 {
      text-align: center;
      @include h3-xl;
      @include navGlow;
    }

    button {
      border: none;
      background: none;
      text-decoration: underline;
      padding: 2%;
      @include more;
    }
  }
}
